

/* Included CSS Filews */

@import "fluid_grid.css";

@import "reset.css";

@import "HTML5-reset.css";

@import "general.css";

@import "fonts.css";



/* ============= Start ============= */



#mainContainer  	{ padding:3% 2%; }



/* == Header Css == */

.header 	{ position:relative; margin-bottom:15px; min-height:125px; }



.headTop						{ min-height:65px; border-bottom:1px solid #e8e8e8;}



.topTitle						{ position:absolute; left:40%; top:10px;}

.topTitle h2					{ font-size:22px; color:#e80703;}



/* Top Menu Css */

.topMenu						{ position:absolute; right:0; top:10px;}

.topMenu li 					{ float:left; margin-left:5px;  }

.topMenu li a					{ color:#444444; font-size:14px; }

.topMenu li a:hover				{ color:#e80703;}

.topMenu li:first-child:before 	{ content:"";   }

.topMenu li:before 				{ content:"|"; display:inline-block; padding:0px ; font-size:13px; }



.topMenu li.topBtn:before,

.topMenu li.designation:before  { content:"";  }



.topMenu li.topBtn				{ margin-top:-6px; }

.topMenu li.topBtn a			{ padding:6px 10px; display:inline-block; border:none;  }

.topMenu li.topBtn a:hover		{ border:none;  }

.topMenu li.topBtn img			{ background:url(../images/sprite.png) no-repeat 0 0 scroll; width:20px; height:20px; }

.topMenu li.topBtn img.logout	{ background-position:1px -39px; }

.topMenu li.topBtn img.setting	{ background-position:1px 2px; }

.topMenu li.designation			{ display:block; clear:both; float:none; font-style:italic; font-size:12px; color:#444444; }





/* Main Menu Css */

.mainNav					{ border-bottom:1px dashed #a6a6a6; height:65px; margin-bottom:20px;}

.mainNav ul li				{ float:left; margin-left:3px; margin-top:-1px; font-size:14px; font-weight:bold; text-align:center;}

.mainNav ul li:first-child	{ margin-left:0px;}

.mainNav ul li a			{ 

    display:block;

    color:#2f2f2f;

    height:64px;

    padding:0px 20px;

    background:#f0f0f0;

    border:1px solid #dcdcdc;

    display:table-cell;

    vertical-align:middle;

}

.mainNav ul li a:hover,

.mainNav ul li a.active		{ background:#e80703; border:1px solid #f01511; color:#ffffff; }







/* == Table Content Css == */

.tableContent		{ border:1px solid #e6e6e6; }



/* Filter Box Css */

.filterBox	h2		{ margin-bottom:10px; font-size:18px;  }

.filterBox	h3		{ 

    background:url(../images/headBg.jpg) repeat-x 0 0 scroll; 

    height:32px; 

    line-height:32px; 

    font-size:14px; 

    font-weight:bold; 

    color:#2f2f2f;

    padding:0px 10px;

    border-bottom:1px solid #e6e6e6;

}

.filterBox .indent	{ padding:10px; }

.filterBox	label,

.filterBox	select	{ float:left; }

.filterBox	select	{ width:70%; border:1px solid #e2e2e2; padding:5px; }

.filterBox	label	{ margin:8px 10px 0px 0px; font-weight:bold; width:22%; text-align:right; margin-right:10px;}

.filterBox .grid_4 p.dateIcon{ width:40% ;}

.filterBox .grid_4 p.dateIcon input[type="text"] { width:100% !important;}	



.dateArea 			{ margin-bottom:20px!important; }

.dateArea select 	{ width:35%; float:left; margin-right:5px; margin-bottom:0px; }

.dateArea label  	{ float:left; margin:6px 5px 0 0; width:auto; color: #e80703; }

.dateArea button	{ float:left; padding:6px 7px; border:none;  }





/* Table Sec Css */

.tableSec table		{ width:100%; position:relative; top:-1px;  margin-bottom:25px; }

.tableSec thead		{ background:#f0f0f0; }

.tableSec tfoot		{ background:#f9f9f9; }	

.tableSec tfoot td	{ font-weight:bold; }

.tableSec table th	{ font-weight:bold; color:#2f2f2f;}

.tableSec table th,

.tableSec table td  { padding:10px; font-size:12px; border:1px solid #bebebe; vertical-align:middle; color:#2f2f2f; }

.tableSec table td strong	  { color:#e80703; font-weight:bold; display:block;}

.tableSec input[type="text"]  { border:1px solid #e2e2e2; width:100px; margin:0px;}

.tableSec tbody	tr			  { background:#E2E2E2; }

.tableSec tbody	tr.light,

.tableSec tbody	td.light	  { background:#fff; }

.tableSec tbody	tr.pinkLight { background:#ffebeb; }

.tableSec tbody	tr.headingTrBold td { font-weight:bold; padding:18px 10px; }



.tableSec input[type="radio"],

.tableSec label 				{ float:left; margin:-1px 6px 0px 0px;}

.tableSec label 				{ font-size:12px;  color:#2f2f2f; }





.summryTable table					{ margin:0px; position:relative; top:0px;}

.summryTable .summryTableHead		{ border:1px solid #bebebe; border-bottom:none;   }

.summryTable thead tr th			{ border:none; }

.summryTable thead tr.mainTitle 	{ background:url(../images/headBg.jpg) repeat-x 0 bottom scroll #fff;   }

.summryTable thead tr.subTitle 		{ background:#e80703; }

.summryTable thead tr.mainTitle th 	{ color:#2f2f2f;  padding:15px 10px 15px 10px; font-size:14px; }

.summryTable thead tr.subTitle th	{ color:#fff;  padding:15px 9px 15px 10px; font-size:12px; }



.summryTable thead tr.mainTitle th span,

.summryTable thead tr.subTitle th span  { display:block; width:100%; height:30px; line-height:21px;  }	

.summryTable thead tr.mainTitle th span { border-right:1px solid #bebebe;}

.summryTable thead tr.subTitle th span  { border-right:1px solid #f48381; }

.summryTable thead tr.subTitle th .dropDown	{ position:absolute; right:15px; top:15px; width:30px; height:30px; cursor:pointer; }

.summryTable .tdCol-1						{ width:28.1% !important; } 

.summryTable .tdCol-2						{ padding: 15px 4px !important; text-align: center; width: 15% !important;}

.summryTable .leftTableInfo .tdCol-1		{ width:27.5% !important;} 

.summryTable .leftTableInfo .tdCol-2		{ width:15% !important ;} 

.summryTable .leftTableInfo .tdNone			{ display:none;}

.summryTable .leftTableInfo {}
.tdCol-3 {width:30% !important;}
.tdCol-3a {width:30% !important;}
.tdCol-4.noBorderTop {    width: 38%;}




.percentageSec							{ vertical-align:top !important; margin-left:-10px;  }

.percentageSec	h3						{ margin-left:15px; font-weight:normal;}

.percentageSec table					{ float:left; margin-left:15px; margin-bottom:5px; width:22.7%;  }

.percentageSec table tr					{ border:1px solid #d8d8d8;}

.percentageSec table tbody tr td		{ color:#2f2f2f; }

.percentageSec table tr td				{ border:none;}

.percentageSec table tfoot tr td		{ background:#e80703; color:#fff;  }

.percentageSec tbody	tr			    { background:#fff; }

.percentageSec tbody	tr.light	    { background:#f6f6f6; }



.percentageTable 	h3					{ margin-left: 15px; font-weight: normal; font-size:12px; }

.percentageTable						{ border:1px solid #bebebe; margin-bottom:15px;}

.percentageTable table					{ margin-bottom:0px;}

.percentageTable .grid_4,

.percentageTable .grid_8				{ margin:0px; }



.percentageTable .leftTableInfo			{ position:relative; }

.percentageTable .percentageSec			{ margin-top:20px; }



.mobilePercentage						{ display:none;}




.col-1 { width: 5.45% !important;}
.col-2 { width: 21.55% !important;}
.col-3 { width: 25.35% !important;}
.col-4 { width: 25.35% !important;}
.col-5 { width: 16.55% !important;}
.col-6 {width: 64.35% !important;}
.col-7 {width: 64.35% !important;}
.col-8 { width: 60.55% !important;}
.col-9 { width: 64.35% !important;}


/* == Login Box Css == */

.loginBox			{ width:400px !important;}

.loginBox header 	{ min-height:50px; border-bottom:1px solid #e8e8e8;  }

.loginBox 			{ box-shadow:0px 0px 6px #6F6F6F; -moz-box-shadow:0px 0px 6px #6F6F6F; -webkit-box-shadow:0px 0px 6px #6F6F6F; margin-top:120px;}

.loginBox h1					{ font-size:18px; padding-bottom:12px; border-bottom:1px dotted #bfbfbf; margin-bottom:15px; }

.loginBox p a					{ text-decoration:underline;  }

.loginBox [type=submit],

.loginBox a.redBtn				{ float:right; line-height:normal; } 



.popupBox h3					{ font-size:18px; margin-bottom:20px; color:#2f2f2f; }

.popupBox input[type="text"] .popupBox select 	{ border:1px solid #bababa!important; }

.popupBox select 				{ color:#808080; font-size:12px; }

.popupBox .dateIcon 			{ width:100% }



/* == Main Dashbord Css == */

.mainDashbord ul 				{ margin:60px 0 105px -29px; }

.mainDashbord ul li				{ 

    width:187px; 

    height:187px; 

    overflow:hidden; 

    margin-left:29px; 

    display:inline-block; 

    font-size:18px; 

    font-weight:bold; 

    text-align:center; 

}

.mainDashbord ul li a 			 { 

    display:table-cell; 

    background:#f0f0f0; 

    border:1px solid #dbdbdb; 

    color:#3e3e3e; 

    height:185px; 

    width:165px; 

    overflow:hidden; 

    vertical-align:top; 

    padding:0 10px; 

}

.mainDashbord ul li a:before 	  { 

    content:""; 

    display:block; 

    width:122px; 

    height:97px; 

    margin:15px 0 22px 23px;

    background:url(../images/dashbordIcon.png) no-repeat 0 top scroll;

}

.mainDashbord ul li a:hover:before 						{ background:url(../images/dashbordIcon.png) no-repeat 0 bottom scroll; }

.mainDashbord ul li a.createUserIcon:before 			{ background-position:0 top; }

.mainDashbord ul li a.createUserIcon:hover:before 		{ background-position:0 bottom; }

.mainDashbord ul li a.viewUserIcon:before 				{ background-position:-122px top; }

.mainDashbord ul li a.viewUserIcon:hover:before 		{ background-position:-122px bottom; }

.mainDashbord ul li a.activityHoursIcon:before 			{ background-position:-244px top; }

.mainDashbord ul li a.activityHoursIcon:hover:before 	{ background-position:-244px bottom; }

.mainDashbord ul li a.archivesIcon:before 				{ background-position:-366px top; }

.mainDashbord ul li a.archivesIcon:hover:before 		{ background-position:-366px bottom; }

.mainDashbord ul li a:hover 							{ background:#e80703; border:1px solid #f01511; color:#ffffff; }





.filterBtn								{ 
    /*    margin-top:-30px; float:right;*/
}

.filterBtn a.darkBtn					{ margin-bottom:12px; float:right; }


.top-login-btn{width:20%;float:right;}




/* == Create Manager Css == */

.createTab ul 				 { border-bottom:1px dashed #a6a6a6; }

.createTab ul li 			 { float:left; font-size:18px; margin-left:3px; font-weight:bold; }

.createTab ul li:first-child { margin-left:0px;}

.createTab ul li a 			 { display:block; background:#f0f0f0; color:#000000; border:1px solid #dbdbdb; padding:12px 10px; }



.createTab ul li a:hover,

.createTab ul li a.selected 						{ background:#3b3b3b; color:#ffffff; border:1px solid #3b3b3b; }



.createTab .tabs_container 							{ padding:22px 0;}

.createTab .tabs_container .createTabContent		{ width:500px; }

.createTab .tabs_container label 					{ margin-bottom:12px; font-size:13px; }

.tableSec table td a 								{ color:#2F2F2F; }

.tableSec table td a:hover 							{ color:#E80703; }

.width_240											{ width:240px; }

.marginTop_27 										{ margin-top:27px; }

.createManager .dateArea	select.small			{ width:24%; }

.createManager .dateArea	select					{ width:34%; }

.assignedTd 				{ padding:0px!important; border:0px!important; }

.assignedTd table 			{ margin-bottom:0px; left:-1px; width:100.07%; top:0px; }

.gradientGrey 				{ background:url(../images/headBg.jpg) repeat-x 0 bottom scroll #ffffff!important; }

td.assignedTd table.pinkTable tr th 				{ border-top:0px; }

tr.archiveTilte td 			{ border-top:0px; }


/* == Custome table Align == */
.customeAssigneTable table		 { table-layout:fixed; border-collapse:collapse;}
.customeAssigneTable table td,
.customeAssigneTable table th	 { word-wrap:break-word;}
.customeAssigneTd table		 	 { left:0px; width:100%; top:-1px; }
.customeAssigneTable .pinkTable	 { width: 100.09% !important; }

html>/**/body .customeAssigneTable .pinkTable, x:-moz-any-link, x:default {
    left: -1px !important; 
}



/* == Archive Css == */

.archivePost			   		  		{ margin-bottom:4px;  }

.archivePost .archiveTilte 		  		{ background:#f0f0f0; color:#4e4e4e; padding:12px; cursor:pointer; border:1px solid #dbdbdb;}

.archivePost .archiveTilte h2:before 		{ content:""; background:url(../images/accordianAero.png) no-repeat 0 bottom scroll; width:5px; height:8px; float:right; margin:4px 1px 0 0; }

.archivePost .archiveTilte.active 		{ background:#e80703; border:1px solid #e80703;  }

.archivePost .archiveTilte.active h2.arrowClose:before{ content:""; background:url(../images/accordianAero.png) no-repeat 0 top scroll; height:5px; width:8px; float:right; margin:6px 1px 0 0; }

.archivePost .archiveTilte.active h2 	{ background:#e80703; color:#fff; }

.archivePost .archiveTilte h2 	  	 	{ color:#252525; font:bold 12px Arial, Helvetica, sans-serif; margin:0px;}

.archivePost .archiveInfo,

tr.archiveInfo							{ display:none; }

tr.archiveTilte.active td 				{ font-weight:bold; }







.activitiesPopup {}


.confirmForm	{ position:relative;}
.confirmForm #customessage	{ position: absolute; top: 37px; left: 255px; width: 320px;}


.topAdminsection{width:auto !important; margin-top: 10px; }
.top-designation{ text-align:right; float:left!important; margin-top: -15px; font-style:italic; font-size:12px; color:#444444;}
.top-designation p{text-align:right;margin:0px;}
.viewhistoryTopcontent {background-color: #E80703; font-size:12px;text-align:center ;  padding: 10px 15px 10px 10px;display:inline-block;height: 16px; font-weight:bold; color: white; margin:0 0 5px; clear:both;}




/* == Footer Css == */

.footer	 		{ border-top:1px solid #e8e8e8; padding-top:20px; margin-top:20px; position:relative;  }

.footer:before	{ content:url(../images/bullet.jpg); position:absolute; top:-10px; left:50%;}

.footer	p 		{ text-align:center; font:italic normal 11px Georgia, "Times New Roman", Times, serif; color:#3b3b3b;}
input.redBtn.goBTN { padding:5px 12px 4px 12px; }
#log_id { padding:12px 5px; }
/* ( CHROME AND SAFARI HACK ) */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    :root .loginBox a.redBtn { padding-top:11px!important; margin-top:2px; }
}
/* ( I-E 8 EXPLORER HACK ) */
.loginBox a.redBtn { padding-top:11px\9!important; }
/* ( I-E 9 EXPLORER HACK ) */
:root .loginBox a.redBtn { padding-top:11px\0!important; padding-bottom:8px\0!important; }
/* ============= End ============= */

.customeDate input[type="text"]  { width:inherit !important; }
.customeDateLabel                { color: #e80703!important;  margin: 6px 5px 0 0!important; width: auto!important;}

.ui-state-active{
    //background-color: red;
    font-weight: 10px;
}
.submitGreen { background:#008000 !important;
               padding:11px 12px 9px 12px;
               border-left:none; 
               border-right:none;
               border-top:none; 
               color:#fff;
               font-size:13px;
               cursor:pointer;
               border-bottom-style:solid;
               border-bottom-width:4px;
               border-bottom-color:#125E18 !important;
}
.submitGreen:hover { background:#000 !important; 
                     color:#fff;
                     border-bottom:4px solid #272727 !important;  }

.submitGrey { background:#808080 !important;
              padding:11px 12px 9px 12px;
              border-left:none; 
              border-right:none;
              border-top:none; 
              color:#fff;
              font-size:13px;
              cursor:pointer;
              border-bottom-style:solid;
              border-bottom-width:4px;
              border-bottom-color:#515952 !important;
}
.submitGrey:hover { background:#000 !important; 
                    color:#fff;
                    border-bottom:4px solid #272727 !important;  }


.tableSec table td { position:relative; }
/*.timeEntry-control:before {
    content: "|";
    font-size: 55px;
    position: absolute;
    left: 35%;
    top: -5px;
    color: #E2E2E2;
}*/

.datefields {

}
.datefields label { width: 17%; }
.datefields .dateIcon { width: 23.2%; }
.datefields p.dateIcon input[type="text"] { width: 100%!important; }

span.comments_span {
    line-height: normal;
    display: block;
    margin: 5px 0;
}

.error_messages{
    color: #e80702; 
    font-weight: bold;
}
.success_messages{
    color: green;
    font-weight: bold;
}