/* Helvetica LT Condensed Regular */

@font-face {

	font-family: 'helveticaCondensed';

	src: url('../fonts/helveticaltcondensedmedium.eot');

	src: url('../fonts/helveticaltcondensedmedium.eot?#iefix') format('embedded-opentype'),

			 url('../fonts/helveticaltcondensedmedium.woff') format('woff'),

			 url('../fonts/helveticaltcondensedmedium.ttf') format('truetype'),

			 url('../fonts/helveticaltcondensedmedium.svg#helveticaltcondensedmedium') format('svg');

	font-weight: normal;

	font-style: normal;

}



/* Fonts Famaily asosiated with tags */

body{ font-family: Arial, Helvetica, sans-serif; }



h1, h2, h3, h4, h5, h6  	{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#000;}



/* SET FONTS SIZE CSS */

.fontSize_10 {font-size:10px!important;} /* Font Size 10px */

.fontSize_11 {font-size:11px!important;} /* Font Size 11px */

.fontSize_12 {font-size:12px!important;} /* Font Size 12px */

.fontSize_13 {font-size:13px!important;} /* Font Size 13px */

.fontSize_14 {font-size:14px!important;} /* Font Size 14px */

.fontSize_15 {font-size:15px!important;} /* Font Size 15px */

.fontSize_16 {font-size:16px!important;} /* Font Size 16px */

.fontSize_17 {font-size:17px!important;} /* Font Size 17px */

.fontSize_18 {font-size:18px!important;} /* Font Size 18px */

.fontSize_19 {font-size:19px!important;} /* Font Size 19px */

.fontSize_20 {font-size:20px!important;} /* Font Size 20px */

.fontSize_22 {font-size:22px!important;} /* Font Size 22px */

.fontSize_24 {font-size:24px!important;} /* Font Size 24px */

.fontSize_34 {font-size:34px!important;} /* Font Size 34px */



p, label, input, textarea{ font-size:13px; line-height:normal; color:#3b3b3b;  }



a:hover				{ text-decoration:none;  }

a:active, a:focus 	{ outline:none; ie-dummy:expression(this.hideFocus=true);}



/* FONTS COLOR CSS */

p 						{ color:#2f2f2f; }

p a						{ color:#e80703; }

