/* HTML // Body */

html, body  { height: 100%; }

html 		{ font: normal normal 100%/1.5em Arial, Helvetica, sans-serif; }

body 		{ background:url(../images/background.jpg) repeat 0 0 scroll; color: #787878; }

/* Padding */

.padding 		{ padding:10px; }

.paddingTop 	{ padding-top:10px; }

.paddingRight 	{ padding-right:10px; }

.paddingBottom 	{ padding-bottom:10px; }

.paddingLeft 	{ padding-left:10px; }

.paddingNone	{ padding:0px !important; }

/* Margin */

.margin 		{ margin:10px; }

.marginAuto		{ float:none; display:block; margin:0px auto;}

.marginTop 		{ margin-top:10px; }

.marginRight 	{ margin-right:10px; }

.marginBottom 	{ margin-bottom:10px; }

.marginLeft 	{ margin-left:10px; }

.marginNone		{ margin:0px !important; }

.nomarginRight 	{ margin-right:0px; }

.nomarginBottom { margin-bottom:0px; }

.nomarginLeft 	{ margin-left:0px; }

.noBorderBotttom	{ border-bottom:none !important; }

.noBorderTop		{ border-top:none !important; }

ul, ol   		{ margin:0px; padding:0px; }

/* Float reset Classes */

.floatLeft 		{ float:left!important; }

.floatRight 	{ float:right!important;}

.nofloat 		{ float:none!important;}

.block			{ display:block !important; }

.clearfix:after { content:""; display: block; clear: both; visibility: hidden; line-height: 0px; height: 0px; }

.clear 			{ clear:both; width: 0px; height: 0px; }

/* Align reset Classes */

.alignLeft 		{ text-align:left!important}

.alignRight 	{ text-align:right!important;}

.alignJustify 	{ text-align:justify!important;}

.alignCenter 	{ text-align:center!important;}

/* Position reset Classes */

.positionRelative{ position:relative;}

.positionAbsolute{ position:absolute;}

/* General styles */

/* general heading CSS */

h1, h2, h3, h4, h5, h6, p{ margin:0px 0px 10px 0px; }

/* general Link CSS */

a, a:focus, img{ border:0px; outline:none; }

a:hover{ text-decoration:underline; }

a{ text-decoration:none; 

    -webkit-transition:all 100ms linear; 

    -moz-transition:all 100ms linear; 

    -o-transition:all 100ms linear; 

    -ms-transition:all 200ms linear; 

    transition:all 100ms linear;

}

/* Form Tag CSS */

input[type=text], input[type=password], select, textarea{ 

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-o-box-sizing: border-box; 

	-ms-box-sizing: border-box;

}

input[type=text], input[type=password], input[type="file"], textarea, select { 

	border:1px solid #9e9e9e; 

	padding:7px 5px;

	width:100%;

	margin-bottom:15px;

	font-size:12px;

}

input, select{ outline:none; }

label { display:block; color:#3b3b3b; }

label.req:after { content:'*'; color:#e80703; }

textarea{ resize:none; }

.valign	{ vertical-align:top !important;}

/* Content Box CSS */

.contentBox	{

			background:#FFF;

			padding:15px;

			min-height:200px;

			border-radius:10px;

	   -moz-border-radius:10px;	

	-webkit-border-radius:10px;	

	}

	

/* Button CSS */

button,

input[type=submit], 

input[type=button], 

input[type=reset],

.topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#BA1310;}

button:hover,

input[type=submit]:hover, 

input[type=button]:hover, 

input[type=reset]:hover,

.topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

.redBtn,

.darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

.redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

.darkBtn, .redBtn.darkBtn						{ background:#e80703; border-bottom:4px solid #BA1310; }

.redBtn:hover,

.darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }

		

/* Pagination CSS */

.pagination	 				{ margin-bottom:8px; margin-top:8px;}

.pagination, .pagination a	{ text-align:center; }

.pagination a{

		display:inline-block; 

		background:#bcbcbc;

		height:25px;

		font:bold 12px/25px Arial, Helvetica, sans-serif; 

		padding:0px 8px;

		margin-right:4px;

		color:#363636;

		}

.pagination a:hover, 

.pagination a.current			{  color:#FFFFFF; background:#ca0a11; }

.pagination	.pageNav,

.pagination	.pageNav:hover		{ background:none;}

.pagination	.pageNav:hover		{ color:#e80703; }

/* ( LIGHT BOX CSS ) */		

.popupBox {

	display:none;

	max-width:450px;

}

.popupBox .indent { padding:15px 10px;}

.popupBox .indent label,

.popupBox .indent input[type="radio"]  { float:left; margin-bottom:30px;} 

.popupBox .indent label { font:bold 15px Arial, Helvetica, sans-serif; color:#2f2f2f; margin-right:10px; }

.popupBox .indent h3 	{ font-weight:bold; font-size:18px; color:#e80702; margin-bottom:8px;}

.popupBox .redBtn,

.popupBox .darkBtn		{ padding:11px 18px 9px 18px; margin-left:5px;} 


.popupBox.continuepopupbox .indent label { width: 90%; margin-bottom: 10px; }
.popupBox.continuepopupbox .indent h3    { margin-bottom:20px;}


/* ( DATE PICKER CSS CSS ) */

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all { display:none!important; }

p.dateIcon{ position:relative; margin:0 5px 15px 0; display:inline-block; float:left; }

p.dateIcon input[type="text"] { border:1px solid #E2E2E2; padding:7px 5px 6px; margin-bottom:0px; }

p.dateIcon img { position:absolute; right:5px; top:7px; cursor:pointer; }