.star{
    background-image:url('images/rating-new.png');
    display:block;
    width:26px;
    height:22px;
    line-height:16px;
    float:left;
    cursor: pointer;
    zoom:1;
    transition: none;
}

.stars a 					{ background-position: 0 -2px; }
.stars a:hover,
.stars a.fullStar 				{ background-position: 0 24px; }

.stars a ~ a 					{ background-position: -27px -2px; }
.stars a ~ a:hover,
.stars a ~ a.fullStar                           { background-position: -27px 24px; }

.stars a ~ a ~ a 				{ background-position: -52px -2px; }
.stars a ~ a ~ a:hover,
.stars a ~ a ~ a.fullStar 			{ background-position: -52px 24px; }

.stars a ~ a ~ a ~ a 				{ background-position: -77px -2px; }
.stars a ~ a ~ a ~ a:hover,
.stars a ~ a ~ a ~ a.fullStar                   { background-position: -77px 24px; }

.stars a ~ a ~ a ~ a ~ a 			{ background-position: -102px -2px; }
.stars a ~ a ~ a ~ a ~ a:hover,
.stars a ~ a ~ a ~ a ~ a.fullStar 		{ background-position: -102px 24px; }

.fullStar{
    background-position:left -59px;
}

.stars{
    overflow: hidden;
}

.tmp_es{
    background-position:left -21px;
}

.tmp_fs{
    background-position:left -40px;
}
