/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-width : 480px) {

    html { font-size: 120%; line-height: 1.5em; }
    #ui-datepicker-div {
        //left: auto !important;
        font-size: 12px;
    }

}


@media screen and (min-width:1001px) and (max-width:1500px) {
    .filterBox .grid_4			{ width:50%; }
    .filterBox .grid_4 select 	{ width:50%; }
    .filterBox .grid_4 p.dateIcon{ width:40% !important;}
    .filterBox .grid_4 p.dateIcon input[type="text"] { width:100% !important;}
    .bracklin                                           {display: none;}
}

/* Any screen smaller than 768px and also iPads specifically. */
@media screen and (min-width:768px) and (max-width:1000px) {
    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn						{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,

    .darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }



    /* Header Css */
    .logo	img			{ width:30%; }
    .topTitle			{ left:36%; }
    .topTitle h2		{ font-size: 18px; }
    .mainNav ul li a 	{ padding:0px 14px;}
    .topMenu li a		{ font-size:12px; }

    /* Dashbord Css */
    .mainDashbord ul	{ margin: 60px 0 105px -5px;  }
    .mainDashbord ul li	{ margin-bottom:15px; width:160px; font-size:16px;  margin-left:7px; }
    .mainDashbord ul li a:before { margin: 15px 0 21px 15px; }
    .mainDashbord ul li a		 { width:100%}
    .createTab ul li a			 { padding:12px 8px;}

    .mainDashbord ul li a.createUserIcon:before 			{ background-position:-9px top; width:113px; margin-right:10px; }
    .mainDashbord ul li a.createUserIcon:hover:before 		{ background-position:-9px bottom; }
    .mainDashbord ul li a.viewUserIcon:before 				{ background-position:-124px top; }
    .mainDashbord ul li a.viewUserIcon:hover:before 		{ background-position:-124px bottom; }
    .mainDashbord ul li a.activityHoursIcon:before 			{ background-position:-250px top; }
    .mainDashbord ul li a.activityHoursIcon:hover:before 	{ background-position:-250px bottom; }
    .mainDashbord ul li a.archivesIcon:before 				{ background-position:-372px top; }
    .mainDashbord ul li a.archivesIcon:hover:before 		{ background-position:-372px bottom; }
    .mainDashbord ul li a:hover 							{ background:#e80703; border:1px solid #f01511; color:#ffffff; }

    .createTab ul li 				 {  font-size:13px;  }
    .createManager .dateArea select  { width: 67%; }

    .assignedTd table  		{ left:0px; width:100%; }
    .percentageSec table	{ width:45%; margin-bottom:15px;}



    /* Summry Css */
    .summryTable thead tr.mainTitle th 			{ font-size:12px; line-height:normal; }
    .summryTable thead tr.mainTitle th span,
    .summryTable thead tr.subTitle th span 	{ line-height:normal; height:auto; }	

    .summryTable .tdCol-1 { width:27%; } 
    .summryTable .tdCol-2 { width:13%; padding-left:0px !important; }

    .leftTableInfo .tdCol-1 { width:19%; }

    .summryTable .grid_4	{ width: 40%; }
    .summryTable .grid_8	{ width: 59%; }				

    p.dateIcon	       				{ width:100px !important; }
    p.dateIcon input[type="text"] 	{ width:100% !important; }

    .filterBox .grid_4				{ width:60.333% !important;  }
    .filterBtn a.darkBtn			{ font-size:12px; }
    .filterBox	label				{ width:26% ;}
    .dateArea label					{ width:auto !important;} 

    .viewMyDay .tableSec table td	{ text-align:center;  }
    .tableSec input[type="text"]	{ width:60px; }
    .tableSec input[type="radio"],
    .tableSec label 				{ float:none; text-align:center; margin:0px auto; display:block;}
    .tableSec input[type="radio"]	{ margin-bottom:5px;}
    .createTab .tabs_container label{ margin-bottom:0px;}

    .container_12 .grid_12 			{ width: 685px; }
    .tableBtn						{ width:12% !important;}


    .loginBox img					{ width:auto; }

    .topAdminsection              { margin-top: 0px; }
    .top-designation              { margin-top: -8px;}



}

@media screen and (min-width:600px) and (max-width:1000px) {

    .confirmForm #customessage	{ top:60px; left:0px; width:300px; font-size:12px;  }
}



@media screen and (min-width:200px) and (max-width:767px) {


    .loginBox img					{ width:auto; }

    /* Header Css */
    .headTop 	{ min-height: 132px; }

    .logo 	 	 { text-align:center; margin-bottom:10px;   }

    .topTitle	 { position:static; display:block; text-align:center; }
    .topTitle h2 { font-size:18px ; margin-bottom:9px; }

    .topMenu	 					{ position:static; text-align:center; }
    .topMenu li  					{ float:none; display:inline-block; margin-left:-4px;  }
    .topMenu li a					{ font-size:13px; }
    .topMenu li.topBtn 				{ margin-top:0px; position:relative; }
    .topMenu li.designation.manager { margin-right:138px ; }
    .topMenu li.designation.sales 	{ margin-right:68px; }
    .topMenu li.designation.admin 	{ }

    .mainNav 				{ height:auto; }
    .mainNav ul li 			{ float:none; margin:0px !important; }
    .mainNav ul li a		{ display:block; padding:15px; height:auto; text-align:left;  }


    /* Content Css */
    .mainDashbord ul				{ text-align:center; margin: 40px 0 30px -8px;  }
    .mainDashbord ul li				{ width:auto !important; height:auto !important; margin-left:12px; margin-bottom:12px; font-size:15px;    }
    .mainDashbord ul li a			{ height: 180px; width:200px; }
    .mainDashbord ul li a:before	{ margin: 15px 0 22px 15px; position:relative; left:26px; }


    .filterBox .grid_5				{ width:100%; }
    .filterBox .grid_4				{ width:68% !important; margin-left:0px;  }
    .filterBox h2					{ font-size:16px; }
    .filterBox	label 				{ width:30%;  }
    .filterBox	select				{ font-size:12px; width: 65%; }
    .filterBtn						{ float:none; text-align:center; margin:0px; }
    .filterBtn a.darkBtn 			{ float: none;font-size: 12px;font-weight: bold; line-height: 14px; text-align: center; }
    .filterBtn p.dateIcon			{ width:auto !important; }	
    .dateArea label					{ width:auto; margin: 6px 5px 0 0; }
    .viewMyDay  .grid_4 			{ width: 61% !important; }


    .createTab ul li				{ font-size:13px; float:none; margin:0px; }
    .createTab ul li a			 	{ padding:12px 8px;}
    .createTab .tabs_container .createTabContent 	{ width:100%; }
    .createTabContent .width_240					{ width:48%; }							
    .createTab .tabs_container label				{ margin-bottom:0px; font-size:12px;}
    .createTab .marginTop_27   						{ margin-top: 15px;}


    .tableSec input[type="text"]	{ width:60px; }
    .tableSec table					{ top:0px; }
    .tableSec table th				{ padding:8px; }
    .tableSec table td 				{ padding: 6px 8px; }


    .mobilePercentage					{ display:block;}
    .mobilePercentage table				{ margin:0px 0px 15px 0px; width:100% !important;}
    .mobilePercentage table th span		{ border:none !important;}
    .mobilePercentage table				{ margin:0px 0px 15px 0px; width:100%;}
    .mobilePercentage table th span		{ border:none !important;}
    .percentageLiquid 					{ overflow-x:scroll;}
    .percentageSec table				{ width:200px; margin-bottom:12px;}
    .tdNone 							{ display:none;}
    .tdNone span,
    .tdCol-2 span						{ border:none !important;}


    .summryTable thead tr.mainTitle th 			{ font-size:12px; line-height:normal; }
    .summryTable thead tr.mainTitle th span,
    .summryTable thead tr.subTitle th span 		{ line-height:normal; height:auto; }
    .summryTable .leftTableInfo .tdCol-1		{ width: 79.5%; }

    .summryTable .tdCol-1 { width:50%; } 
    .summryTable .tdCol-2 { width:13%; padding-left:0px !important; }

    .summryTable .grid_4	{ width: 100.2%; }
    .summryTable .grid_8	{ width: 100%; }	


    .archiveInfo					{ overflow-x:scroll;}
    .archiveInfo table				{ width:698px; margin:0px; }


    .admin .tableScroll table		{ top:0px !important;}
    .tableScroll					{ overflow-x:scroll; margin-bottom:12px;}
    .tableScroll table				{ width:700px; margin:0px 0px 10px 0px;}
    .tableSec input[type="text"]	{ width:60px; }
    .tableSec input[type="radio"],
    .tableSec label 				{ float:none; text-align:center; margin:0px auto;}
    .tableSec input[type="radio"]	{ margin-bottom:2px; }



    .dateArea						{ margin-bottom:10px !important;}
    .createManager .dateArea select { width: 67%; }
    .assignedTd table  				{ left:0px; width:100%; margin-bottom:0px !important; }
    p.dateIcon input[type="text"] 	{ width:100% !important; }
    .viewMyDay .tableSec table td,
    .admin .tableScroll table td	{ text-align:center;  }
    .tableBtn						{ width:12% !important;}


    /* Popup Css */
    .popupBox h3		{ font-size:16px; }


    /* Button Css */
    .redBtn, 
    .darkBtn,
    button, 
    input[type=submit], 
    input[type=button], 
    input[type=reset], 
    .topMenu li.topBtn a	{ font-size:13px;}

    .confirmForm #customessage	{ top:60px; left:0px; width:300px; font-size:12px;  }


    .topAdminsection              { margin-top: 0px; float:none; text-align: center;  margin-bottom: 10px; }
    .top-designation              { margin-top: 5px; float: none!important;}
    .topAdminsection ul li        { margin-right: 5px !important;}

    input[type=submit], 
    input[type=button], 
    input[type=reset]             { -webkit-appearance: none; border-radius: 0px;}

}

@media screen and (min-width:0px) and (max-width:645px) {

    .confirmForm #customessage	{ position:static; display:block; width:auto; margin-top:-10px;  font-size:10px;  }
    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn						{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,

    .darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }


}



@media screen and (min-width:200px) and (max-width:479px) {

    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn						{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,

    .darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }

    .loginBox 				{ width: 260px !important; }
    .loginBox label,
    .loginBox p				{ font-size:14px;  }

    .container_12 .grid_12  { width: 85%; }
    .dateArea button		{ float:right; }
    .dateArea .dateIcon		{ width:40%;}
    .dateArea label			{ width:auto !important; margin:7px 10px 0px 10px !important;}				

    .percentageSec table	{ width:200px; margin-bottom:12px;}
    .percentageRow 			{ width: 885px; }

    .dateIcon				{ margin-bottom:8px; }
    .filterBox h2			{ font-size: 14px; }
    .filterBox label 		{ font-size: 13px; font-weight:normal; display:block; width:100%; text-align:left; margin:0px;  }
    .filterBox	select		{ width:100%; }

    .viewMyDay .grid_4		{ width:100% !important; }

    .top-designation                { margin-bottom: 10px;}
    .top-designation,                
    .top-designation p              { text-align: center;}

    .viewhistoryTopcontent { padding: 10px 5px !important; text-align: center;}
}


@media screen and (min-width:480px) and (max-width:599px) {
    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn						{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,

    .darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }


    .loginBox 				{ width: 320px !important; }
    .loginBox label,
    .loginBox p				{ font-size:14px;  }

    .container_12 .grid_12  { width: 90%; }
    .dateArea button		{ float:right; }
    .dateArea .dateIcon		{ width:39%;}
    .dateArea label			{ width:auto !important; margin:7px 10px 0px 10px !important;}

    .percentageSec table	{ width:350px;}
    .percentageRow			{ width:1500px;} 

    .mainDashbord ul li a 			{ height: 180px; width: 165px; }
    .mainDashbord ul li a:before 	{ left:7px; }


    .dateIcon				{ margin-bottom:8px; }
    .filterBox h2			{ font-size: 14px; }
    .filterBox label 		{ font-size: 13px; font-weight:normal; display:block; width:100%; text-align:left; margin:0px;  }
    .filterBox	select		{ width:100%; }

}



@media screen and (min-width:600px) and (max-width:767px) {

    .loginBox 				{ width: 400px !important; }	
    .container_12 .grid_12  { width: 92%; }

    .percentageSec table 	{ width: 350px; }
    .percentageRow			{ width:1500px;} 

    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn						{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,

    .darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }


}

@media screen and (min-width:568px) and (max-width:600px) {
    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn						{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,

    .darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }




    .summryrow {width:490px;overflow-x:scroll;}
    .summryindent {width:800px;}


}

@media screen and (min-width:480px) and (max-width:567px) {

    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn						{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,

    .darkBtn:hover, .redBtn.darkBtn:hover					{ background:#000; border-bottom:4px solid #272727; color:#fff;  }



    .summryrow {width:413px;overflow-x:scroll;}
    .summryindent {width:800px;}


}

@media only screen and (max-width:736px) {
    .dateArea .dateIcon 			{width: 4%;}
    .createManager .dateArea select { width: 44%; margin: 0;}
    .centerbtn input				{float:none !important;}
    .centerbtn						{text-align:center;}
    .dateArea 						{margin-bottom: 5px !important;}
    .bracklin                                           {clear: both; display: block;}

}
@media screen and (min-width:414px) and (max-width:736px) {
    .container_12 .grid_6 	{width: 100%;}
    p.dateIcon 				{margin: 0 0 15px 0;}
    .dateArea label 		{margin: 7px 4px 0px 3px !important;}
    .dateArea .dateIcon 	{width: 8%;}
    .createManager .dateArea select { width: 92%; margin: 0;}
    #manager_id, #representative_id{ width:100%;}
    button, input[type=submit], input[type=button], input[type=reset], .topMenu li.topBtn a {
        font-size: 12px  !important;
        float: left;
        margin-right: 2px;
        margin-bottom: 10px;}
    #tab5 .dateArea select,#tab3 .dateArea select { margin-bottom: 45px !important;  width: 100%;}
    #tab4 input{margin-top:0% !important; margin-left: 0% !important; }

    @-moz-document url-prefix() {
        p.dateIcon img {right: 0;}
        p.dateIcon {margin: 5px;}
    }
}
@media only screen and (max-width:390px) {
    .container_12 .grid_6 				{width: 100%;}
    .dateArea .dateIcon 	{width: 8%;}
    .createManager .dateArea select { width: 90%; margin: 0;}
    #manager_id, #representative_id{ width:100%;}
    .centerbtn input				{float:none !important; margin-bottom:10px;}
    .centerbtn						{text-align:center;}
    #tab5 .dateArea select,#tab3 .dateArea select {  margin-bottom: 16px !important;  width: 100%;}
    #tab4 input,#tab3 input, #tab5 input{margin-top:0% !important; margin-left: 0% !important; }

    @-moz-document url-prefix() {
        p.dateIcon img {right: 0;}
    }

}
@media screen and (min-width:320px) and (max-width:479px) {

    /* Button CSS */

    button,

    input[type=submit], 

    input[type=button], 

    input[type=reset],

    .topMenu li.topBtn a			{ background:#e80703; padding:11px 12px 9px 12px; border-left:none; border-right:none; border-top:none; color:#fff; font-size:13px; cursor:pointer; border-bottom-style:solid; border-bottom-width:4px; border-bottom-color:#c30300;}

    button:hover,

    input[type=submit]:hover, 

    input[type=button]:hover, 

    input[type=reset]:hover,

    .topMenu li.topBtn a:hover		{ background:#000; color:#fff; border-bottom:4px solid #272727;  }

    .redBtn,

    .darkBtn						{ display:inline-block; padding:12px 12px 9px 12px; color:#fff; font-size:13px; font-weight:normal;}

    .redBtn							{ background:#e80703; border-bottom:4px solid #c30300;  }	

    .darkBtn, .redBtn.darkBtn		{ background:#3b3b3b; border-bottom:4px solid #272727; }

    .redBtn:hover,.darkBtn:hover, .redBtn.darkBtn:hover	{ background:#000; border-bottom:4px solid #272727; color:#fff;  }



    .summryrow {width:262px;overflow-x:scroll;}
    .summryindent {width:800px;}


}